*{
    box-sizing: border-box;
}
body{
    background-color: rgba(80, 21, 21, 0.5);
}
h1,h2,h3,h4,h5,h6{
    color: rgb(255,255,255);
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-shadow: -5px -5px 3px rgb(0,0,0);
    letter-spacing: 1px;
    word-spacing: 3px;
}
p{
    color: rgb(255,255,255);
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-shadow: -5px -5px 5px rgb(0,0,0);
    font-weight: 400;
}
.spacing{
    margin:50px
}
.values-only{
    border: 1px dotted rgb(200,200,200);
    padding: 10px;
}
thead,tbody{
    color: rgb(255,255,255);
}
ul{
    list-style-type: none;
}
.error,.success_register{
    text-shadow: none;
    margin-top: 5px;
}
/*====================================================================================================================*/
#header{
    background-color: rgb(0,0,0);
    height: 100vh;
    width: 250px;
    position: fixed;
    transition: all 400ms ease-in;
    overflow: scroll;
}
.header-active #header{
    left: 0;
    transition: all 500ms ease-in;
}
.mobile-nav-button{
    position: fixed;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 24px;
}
.mobile-nav-button i{
    color:rgb(255,255,255);
    text-shadow: -5px -5px 3px rgb(0,0,0);
}
.header-active .mobile-nav-button i{
    color: rgb(200,200,200);
}
.nav-heading{
    position:fixed;
    left: 45px;
    top:10px;
    color: rgb(255,255,255);
}
#profile-image{
    width: 200px;
    height: 200px;
    border: 10px solid rgba(100, 100, 100,.5);
    border-radius: 50%;
    margin:30% auto;
    display: block;

}
.navbar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar ul li a{
    color: rgb(0,0,0);
    width: 150px;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    background-color: rgb(150,150,150);
    transition: all 200ms linear;
}
.active{
    box-shadow: 0px 5px 5px rgb(200,200,200,.3);
    text-shadow: 5px 7px rgb(200,200,200,.3);
}
.navbar ul li a:hover{
    transform: translateY(-3px);
    box-shadow: 0px 5px 5px rgb(200,200,200,.3);
    text-shadow: 5px 7px rgb(200,200,200,.3);
    
}
#main{
    margin-left: 250px;
    transition: all 500ms linear;
}

@media(max-width:992px){
    #header{
        left: -250px;
    }
    #main{
        margin-left: 0px;
        
    }
}
.main #main{
    margin-left: 250px;
}
#hero{
    background-image:linear-gradient(330deg ,rgb(255,100,80),rgb(150,50,40));
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    margin-bottom: 40px;
}
#footer{
    background-color: rgb(100,50,50);
    margin-top: 10vh;
    padding-top: 50px;

}
.footer-head{
    padding-left: 50px;
}
.footer-head ul{
    list-style-type: none;
}
.footer-head ul li a{
    color: rgb(150,150,150);
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 5px  rgb(46, 44, 44);
    transition: all 100ms ease-in;
}
.footer-head ul li a:hover{
    color: rgb(200,200,200);
    text-decoration: none;
    background-color: rgb(155, 67, 67);
    text-shadow: 5px 5px rgb(41, 36, 36);
    padding: 10px;
    border-radius: 10px;
}
.footer-head ul li i{
    margin-right:10px ;
}
.copy{
    
    margin: 20px 0px;
    border-top: 1px solid rgb(200,200,200);
    padding: 20px 100px;
}
input{
    padding: 10px;
}
#label{
    background-color: rgb(10,20,200);
    padding: 12px;
    color: rgb(255,255,255);
    font-weight: 600;
    border: none;
}
.copyright{
    color: rgb(200,200,200);
    margin-bottom: 20px;
}